.page-header {
  display: flex;
  height: 400px;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #008bf5;
  background-image: url(../images/clean-gray-paper.png);
}
.avatar {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

h2 {
  margin: 0;
  color: white;
}

@media screen and (min-width: 1024px) {
  .page-header {
    margin-top: 50px;
    height: 40%;
    width: 30%;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .page-header {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
