header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #008bf5;
  background-image: url(../images/clean-gray-paper.png);
}
.avatar {
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
}

h2 {
  margin: 0;
}