/* Styling new tweet container*/
.new-tweet {
  width: 100%;
  padding-top: 30px;
}
/* Styling tweet text-area*/
.tweet-text {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom-style: solid;
  resize: none;
  background-color: inherit;
  height: 40px;
  outline: none;
}
/* Styling submit div*/
.submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Styling submit button*/
.submit-button {
  font-family: Bungee, sans-serif;
  background-color: #4056a1;
  color: #ffffff;
}
/* Styling submit counter*/
.counter {
  font-family: Bungee, sans-serif;
}
.counter-minus {
  color: red;
}
/* Styling error msgs*/
#content-empty,
#content-too-long {
  width: fit-content;
  color: red;
  border: 2px solid black;
  padding: 5px;
  margin-top: 5px;
  background-color: bisque;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
